<div class="row">
    <div class="col col-md-6 offset-md-3">
      <div class="alert alert-danger" *ngIf="error">
        <p id="alert">{{error}}</p>
      </div>
        <div id="spinner" *ngIf="isLoading">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmitForm()" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" formControlName="authEmail">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" formControlName="authPass">
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!signUpForm.valid">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button> | 
                <button class="btn btn-primary" type="button" (click)="onSwitchMode()">Switch to {{ isLoginMode ? 'Sign Up' : 'Login'}}</button>
            </div>
        </form>
    </div>
</div>