<div class="row">
  <div class="col">
    <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col">
    <h1>{{recipe.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="button-group">
      <button class="btn btn-primary dropdown-toggle" type="button">
        Manage Recipe
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add to Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delite Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    {{recipe.description}}
  </div>
</div>

<div class="row">
  <div class="col">
    Ingredients
  </div>
</div>